/* ========================================================= */
/* --------------------------------------------------------- */
/*                       모바일 (공통)                        */
/* --------------------------------------------------------- */
/* ========================================================= */

/* 공통 */
.stu_top_banner .current-city:after, .stu_top_banner .current-city.on:after, .stu_top_banner .stu_schedule:before, .daterangepicker .drp-buttons .cancelBtn:before, .prd_filter .btn_prd_filter button:before, .prd_filter.action h3.stu_title:before, .prd_filter.action a.stu_reset:after, .spot_filter.action .stu_title:before, .spot_filter a.stu_more:after, .spot_filter a.stu_reset:after, .spot_filter.action a.stu_reset:after, .stu_prd_list a.stu_reset:after, .stu_prd_list .score:before, .stu_prd_list .score.new:before,.ico_star_bg, .ico_star, .stu_prd_list .like, .stu_top p:before, .spot_filter .btn_spot_toggle button:before, .stu_prd_list .select_list:after, .daterangepicker.action a.stu_close, .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span, .daterangepicker.action .calendar-table .prev:before, .daterangepicker.action .calendar-table .next:before, .stu_prd_list .review:before { background-image:url(../images/common/stu_icon.png); background-repeat:no-repeat; }
input.selectDate::-webkit-input-placeholder { color:#fff; }
input.selectDate::-moz-placeholder { color:#fff; }
input.selectDate::-moz-placeholder { color:#fff; }
input.selectDate:-ms-input-placeholder { color:#fff; }
main { margin:0; padding:0; }
p { margin:0; font-size:16px; font-weight:300; line-height:24px; color:#4a4a4a; }
section { padding:20px 0 0; background:#fff; }
section:last-child { padding-bottom:40px; }
.titArea { position:relative; padding:0 20px; }
.stu_title { display:inline-block; margin-top:0; margin-bottom:12px; font-weight:600; text-align:left; }
h2.stu_title { font-size:20px; line-height:30px; }
h3.stu_title { font-size:17px; line-height:26px; }
h4.stu_title { font-size:15.5px; line-height:24px; }
p.stu_more { margin-bottom:20px; font-size:14px; line-height:24px; word-break:break-all; color:#8f8f8f; }
p.stu_more b { font-weight:500; color:#222; }
a.stu_more, a.stu_reset { display:inline-block; position:absolute; top:0; right:0; margin-top:1px; margin-right:10px; font-size:14px; font-weight:400; line-height:60px; color:#8f8f8f; cursor:pointer; }
a.stu_reset:after { content:""; display:inline-block; width:16px; height:16px; margin-left:3px; vertical-align:-2.5px; background-position:-192px -176px; background-size:256px; }
.swiper-container { z-index:0; }
.swiper-button-next, .swiper-button-prev { width:46.5px; background-size:496px; outline:none;}
.swiper-button-prev:hover, .swiper-button-next:hover { opacity:1; }
.swiper-button-prev { background-position:-93px -124px; }
.swiper-button-next { background-position:-139.5px -124px; }
.swiper-container-horizontal > .swiper-scrollbar { position:absolute; left:50%; bottom:2px; -webkit-width:calc(100% - 40px); width:calc(100% - 40px); height:4px; -webkit-transform:translateX(-50%); transform:translateX(-50%); -webkit-border-radius:10px; border-radius:10px; background:rgba(0,0,0,.05); z-index:0; }
.swiper-scrollbar-drag { position:relative; top:0; left:0; height:100%; -webkit-border-radius:10px; border-radius:10px; background:rgba(0,0,0,.3); }
::-webkit-input-placeholder { color:#ccc; }
:-moz-placeholder { color:#ccc; }
::-moz-placeholder { color:#ccc; }
:-ms-input-placeholder { color:#ccc; }
::placeholder { color:#ccc; opacity:1; }
footer { padding:30px 4% 80px; }



/* 헤더영역 */
#temp_header { display:block; position:fixed; top:0; left:0; width:100%; height:50px; background:#e5e5e5; font-size:16px; font-weight:400; line-height:48px; text-align:center; color:#222; z-index:3; }
#temp_header:before { content:"height:50px"; }



/* 배너영역 */
.stu_top_banner { display:block; position:relative; margin:50px 0 0; padding:0; }
.stu_top_banner .stu_bg { position:relative; -webkit-min-height:200px; min-height:200px; text-align:center; background-position:50% 50%; -webkit-background-size:cover; background-size:cover; }
.stu_top_banner .stu_bg:before { content:""; position:absolute; top:0; bottom:0; left:0; right:0; margin:0; opacity:.15; background-color:#000; pointer-events:none; }
.stu_top_banner .ico_search { position:absolute; top:10px; right:10px; background-position:-136px -34px! important; }
.stu_top_banner .titArea { margin:0; padding:38px 0 0; word-break:keep-all; color:#fff; }
.stu_top_banner .titArea:before { content:""; position:absolute; top:0; left:0; right:0; height:120px; opacity:.3; background-image:-webkit-gradient(linear, left top, left bottom, from(black), top(rgba(0,0,0,0))); background-image:-webkit-linear-gradient(top, black, rgba(0,0,0,0)); background-image:linear-gradient(to bottom, black, rgba(0,0,0,0)); pointer-events:none; }
.stu_top_banner .loc { display:inline-block; position:relative; margin-bottom:4px; font-size:15px; font-weight:300; color:#fff; text-shadow:0 1px 10px rgba(0,0,0,.3); }
.stu_top_banner .current-city { display:block; position:relative; font-size:30px; font-weight:500; line-height:42px; text-shadow:0 1px 10px rgba(0,0,0,.3); }
.stu_top_banner .current-city:after, .stu_top_banner .current-city.on:after { content:""; display:inline-block; width:18px; height:18px; margin:13px 0 0 5px; vertical-align:top; background-size:288px; }
.stu_top_banner .current-city:after { display:none; background-position:-162px -198px; }
.stu_top_banner .current-city.on:after { display:none; background-position:-162px -180px; }
.stu_top_banner .popover-wrap { display:none; position:absolute; top:112px; left:50%; -webkit-width:calc(100% - 40px); width:calc(100% - 40px); -webkit-max-width:560px; max-width:560px; -webkit-max-height:236px; max-height:236px; -webkit-transform:translateX(-50%); transform:translateX(-50%); padding:10px 16px 0; border-top:2px solid #3ad195; background:#fff; box-shadow:0 3px 7px rgba(0,0,0,.2); overflow-y:auto; z-index:1; }
.stu_top_banner .popover-wrap.on { display:block; }
.stu_top_banner .popover-wrap li { float:left; padding:10px 0; width:33.33%; -webkit-min-height:56px; min-height:56px; text-align:center; white-space:nowrap; }
.stu_top_banner .popover-wrap li a { font-size:15px; font-weight:300; color:#8f8f8f; }
.stu_top_banner .popover-wrap li a.current { color:#3ad195; font-weight:500; }
.stu_top_banner .popover-wrap li a:hover { color:#98a9b6; font-weight:4 00; }
.stu_top_banner .popover-wrap li p { display:inline-block; position:relative; top:-3px; padding-right:10px; font-weight:400; color:#8f8f8f; }



/* 달력 */
    /* 핸들러(input) */
.stu_top_banner .stu_schedule { display:inline-block; position:relative; width:auto; height:33px; margin-top:19px; padding:0 14px; -webkit-border-radius:17px; border-radius:17px; border:1px solid rgba(255,255,255,.6); background-color:rgba(0,0,0,.3); }
.stu_top_banner .stu_schedule:before { content:""; position:absolute; top:7px; width:18px; height:18px; background-position:-180px -180px; background-size:288px; }
.stu_top_banner .stu_schedule input { width:148px; height:100%; padding:0 0 0 20px; border:none; font-size:15px; font-weight:400; line-height:31px; text-align:center; color:#fff; cursor:pointer; }

    /* 달력(팝업) 헤더 */
.daterangepicker.action .titArea { padding:0 12px; height:90px; border-bottom:1px solid #e5e5e5; background:#fff; }
.daterangepicker.action a.stu_close { display:inline-block; position:absolute; top:12px; width:34px; height:34px; background-position:0 -34px; background-size:272px; cursor:pointer; }
.daterangepicker.action .dayOfWeek { position:absolute; left:12px; bottom:2px; -webkit-width:calc(100% - 24px); width:calc(100% - 24px); }
.daterangepicker.action .dayOfWeek li { display:inline-block; width:14.285%; font-size:13px; line-height:22px; text-align:center; }
.daterangepicker.action.openscenter:after, .daterangepicker.action.openscenter:before { display:none; }

    /* 달력(팝업) */
.daterangepicker.action { position:fixed; top:0! important; left:0! important; right:0! important; bottom:0; width:100%; margin:0; -webkit-border-radius:none; border-radius:none; border:none; z-index:10; }
.daterangepicker.action .calendar-wrap { -webkit-height:calc(100% - 155px); height:calc(100% - 155px); overflow-y:auto; -webkit-overflow-scrolling:touch; }
.daterangepicker.action .drp-calendar { -webkit-max-width:100%; max-width:100%; padding:10px 0; }
.daterangepicker.action .calendar-table { padding:0 12px; }
.daterangepicker.action .calendar-table .prev span, .daterangepicker.action .calendar-table .next span { display:none; }
.daterangepicker.action .calendar-table .prev, .daterangepicker.action .calendar-table .next { position:relative; }
.daterangepicker.action .calendar-table .prev:hover, .daterangepicker.action .calendar-table .next:hover { background:none; }
.daterangepicker.action .calendar-table .prev:before, .daterangepicker.action .calendar-table .next:before { content:""; display:inline-block; position:absolute; left:50%; width:32px; height:16px; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); background-size:256px; }
.daterangepicker.action .calendar-table .prev:before { background-position:-224px -160px; }
.daterangepicker.action .calendar-table .next:before { background-position:-224px -176px; }
.daterangepicker.action table { position:relative; }
.daterangepicker.action thead tr:first-child th { border:none; }
.daterangepicker.action thead tr:last-child { display:none; }
.daterangepicker.action thead tr:last-child th { height:30px; cursor:default; }
.daterangepicker.action th.month { font-size:16px; font-weight:600; cursor:default; }
.daterangepicker.action th, .daterangepicker.action td { height:45px; font-size:13px; }
.daterangepicker.action tbody td { -webkit-border-radius:0; border-radius:0; border-color:rgba(0,0,0,.1); font-weight:400; color:#4a4a4a; }
.daterangepicker.action td.off, .daterangepicker.action td.off.in-range, .daterangepicker.action td.off.start-date, .daterangepicker.action td.off.end-date, .daterangepicker.action td.off:hover, .daterangepicker.action td.off.in-range:hover, .daterangepicker.action td.off.start-date:hover, .daterangepicker.action td.off.end-date:hover { background-color:#fff; border:none; color:#fff; cursor:default; }
.daterangepicker.action td.available:hover, .daterangepicker.action th.available:hover {  border-color:rgba(0,0,0,.1); }
.daterangepicker.action td.in-range { background-color:#a6ead7; color:#fff; }
.daterangepicker.action td.in-range:hover { background-color:#7fe1c5; }
.daterangepicker.action td.start-date.end-date { -webkit-border-radius:0; border-radius:0; }
.daterangepicker.action td.active, .daterangepicker.action td.active:hover { background-color:#3ad195; border-style:double; border-color:#3ad195; border-top:0; color:#fff; }

    /* 달력(팝업) 버튼 */
.daterangepicker.action .drp-buttons { text-align:center; }
.daterangepicker.action .btn { margin:0; padding:0; font-size:14px; font-weight:400; color:#8f8f8f; }
.daterangepicker.action .drp-selected { position:absolute; top:23px; left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%); padding:0; font-size:16px; font-weight:400; }
.daterangepicker.action .cancelBtn { display:inline-block; position:absolute; top:0; right:20px; line-height:60px; }
.daterangepicker.action .cancelBtn:before { content:""; display:inline-block; width:16px; height:16px; margin-right:3px; vertical-align:-2.5px; background-position:-192px -176px; background-size:256px; }
.daterangepicker.action .applyBtn { display:block; position:fixed; left:0; right:0; bottom:0; width:100%; padding:10px 20px; border-top:1px solid #e5e5e5; background:#fff; font-size:0; }
.daterangepicker.action .applyBtn:before { content:"확인"; display:inline-block; width:100%; height:auto; -webkit-border-radius:2px; border-radius:2px; background:#3ad195; font-size:16px; font-weight:500; line-height:44px; letter-spacing:0; color:#fff; }
.daterangepicker.action .applyBtn:hover:before { background:#37c68d; }



/* 필터 */
    /* hide*/
.prd_filter .filter-header, .prd_filter .filter-container, .prd_filter .btn_apply, .spot_filter .btn_apply, .prd_filter.action .btn_prd_filter, .spot_filter a.stu_reset, .spot_filter .btn_spot_toggle { display:none; }

    /* 공통 */
.action { position:fixed; top:0; left:0; right:0; bottom:0; padding:0; background:#fff! important; z-index:10; }
.action .filter-header { display:block; height:60px; padding:0 20px; border-bottom:1px solid #e5e5e5; background:#fff; }
.action h3.stu_title { display:inline-block; margin:0; font-size:0; cursor:pointer; pointer-events:auto! important; }
.action h3.stu_title:before { content:""; display:inline-block; width:34px; height:34px; margin-top:12px; margin-left:-8px; background-position:0 -34px; background-size:272px; }
.action .filter-container { display:block; height:calc(100% - 125px); padding:0 20px; overflow-y:auto; }
.action .btn_apply { display:block; position:fixed; left:0; right:0; bottom:0; width:100%; padding:10px 20px; border-top:1px solid #e5e5e5; background:#fff; }
.action .btn_apply button { width:100%; height:auto; -webkit-border-radius:2px; border-radius:2px; background:#3ad195; font-size:16px; font-weight:500; line-height:44px; letter-spacing:0; color:#fff; }
.action .btn_apply button:hover { background:#37c68d; }

    /* 상품 필터 */
.prd_filter { margin:0; padding:0; }
.prd_filter .btn_prd_filter button { position:fixed; left:50%; bottom:10px; -webkit-width:calc(100% - 20px);  width:calc(100% - 20px); -webkit-min-width:140px; min-width:140px; -webkit-max-width:208px; max-width:208px; height:44px; -webkit-transform:translateX(-50%); transform:translateX(-50%); -webkit-border-radius:2px; border-radius:2px; background:#3ad195; font-size:16px; font-weight:500; line-height:42px; letter-spacing:0; color:#fff; z-index:3; }
.prd_filter .btn_prd_filter button:hover { background:#37c68d; }
.prd_filter .btn_prd_filter button:before { content:""; display:inline-block; width:22px; height:22px; margin-right:6px; vertical-align:-6px; background-position:-220px -220px; background-size:320px; }
.prd_filter span.select_count { display:inline-block; -webkit-min-width:18px; min-width:18px; height:18px; -webkit-border-radius:9px; border-radius:9px; font-size:12px; line-height:18px; vertical-align:1px; text-align:center; }
.prd_filter .filter-section { position:relative; border-top:1px solid #e5e5e5; margin:0 auto; padding:24px 0; font-size:14px; text-align:left; color:#222; }
.prd_filter .filter-section:first-child { border-top:0; }
.prd_filter .filter-wrap { padding:10px 0; }
.prd_filter .filter-wrap.sortBy { float:left; width:100%; padding:0; text-align:center; -webkit-box-shadow:inset 1px 1px 0 0 rgba(0,0,0,.15); box-shadow:inset 1px 1px 0 0 rgba(0,0,0,.15); }
.prd_filter .filter-list { margin:0 0 18px; font-size:15px; font-weight:300; color:#8f8f8f; cursor:pointer; }
.prd_filter .filter-list.on { font-weight:500; color:#37c68d; }
.prd_filter .filter-list.table { float:left; display:block; width:50%; height:40px; margin:0 0 -1px; padding:0; -webkit-box-shadow:inset -1px -1px 0 0 rgba(0,0,0,.15); box-shadow:inset -1px -1px 0 0 rgba(0,0,0,.15); line-height:38px; }
.prd_filter .filter-list.table.on { background:#3ad195; -webkit-box-shadow:-1px 0 0 0 rgba(58,209,149,1); box-shadow:-1px 0 0 0 rgba(58,209,149,1); color:#fff; }
.prd_filter .filter-list.round { display:inline-block; margin:4px 6px 4px 0; -webkit-border-radius:20px; border-radius:20px; border:1px solid #ddd; background:#fff; }
.prd_filter .filter-list.round.on { border-color:#3ad195; }
.prd_filter .filter-list.round .filter-item { padding:4px 12px 6px; }

    /* 도시 필터 */
.spot_filter { margin-top:0; background:#f5f5f5; }
.spot_filter .filter-header { padding:0 20px; }
.spot_filter h3.stu_title { position:relative; pointer-events:none; }
.spot_filter span.spot_count { position:absolute; top:2px; right:-26px; -webkit-min-width:22px; min-width:22px; height:22px; -webkit-border-radius:11px; border-radius:11px; font-size:13px; line-height:21px; text-align:center; }
.spot_filter .swiper-container { position:relative; height:110px; padding-bottom:10px; overflow:hidden; }
.spot_filter li { float:left; display:inline-block; width:64px; margin:0 4px 4px 4px; padding:0; text-align:center; background-color:transparent; overflow:hidden; cursor:pointer; }
.spot_filter li:first-child { margin-left:18px; }
.spot_filter li:last-child { margin-right:18px; }
.spot_filter .img-wrap { position:relative; padding-top:100%; -webkit-border-radius:50%; border-radius:50%; background:#f5f5f5; overflow:hidden; box-sizing:content-box; }
.spot_filter .txt-wrap { height:34px; overflow:hidden; }
.spot_filter p { margin-top:4px; font-size:13px; line-height:15px; font-weight:300; word-break:keep-all; word-wrap:break-word; }
.spot_filter p.on { font-weight:500; color:#37c68d; }
.spot_filter a.stu_more { line-height:26px; }
.spot_filter a.stu_more:after { content:""; display:inline-block; width:16px; height:16px; margin-left:3px; vertical-align:-2.5px; background-position:-176px -160px; background-size:256px; }

    /* 팝업 On */
.spot_filter.action span.spot_count, .spot_filter.action a.stu_more { display:none; }
.spot_filter.action a.stu_reset { display:inline-block; }
.spot_filter.action .swiper-container { height:auto; padding:14px 0; }
.spot_filter.action .swiper-container-horizontal > .swiper-scrollbar { display:none; }
.spot_filter.action .swiper-wrapper { display:block; max-width:100%; -webkit-transform:translate3d(0,0,0)! important; transform:translate3d(0,0,0)! important; overflow-x:hidden; }
.spot_filter.action li { position:relative; width:31%; margin:0 1.7% 10px; }
.spot_filter.action li:first-child, .spot_filter.action li:nth-child(3n+1) { margin-left:0; }
.spot_filter.action li:last-child, .spot_filter.action li:nth-child(3n) { margin-right:0; }
.spot_filter.action .img-wrap { padding-top:68%; -webkit-border-radius:3px; border-radius:3px; }

    /* 체크 애니메이션 */
$.checkmark { display:none; }
.checkmark.draw:after { top:42%; left:50%; animation-duration:600ms; animation-timing-function:ease; animation-name:checkmark; -webkit-transform:scaleX(-1) rotate(135deg) translate(-50%, -50%); transform:scaleX(-1) rotate(135deg) translate(-50%, -50%); }
.checkmark:before { content:""; position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,.35); }
.checkmark:after { content:""; position:absolute; width:16px; height:32px; border-right:4px solid #fff; border-top:4px solid #fff; -webkit-transform-origin:left top; transform-origin:left top; }
@keyframes checkmark {
    0% { height:0; width:0; }
    20% { height:0; width:16px; }
    40% { height:32px; width:16px; }
    100% { height:32px; width:16px; }
}



/* 상품 리스트 - 1단 small */
.stu_prd_list .prd_header { position:relative; }
.stu_prd_list a.stu_reset { line-height:26px; }
.stu_prd_list a.stu_reset:after { content:""; display:inline-block; width:16px; height:16px; margin-left:3px; vertical-align:-2.5px; background-position:-192px -176px; background-size:256px; }
.stu_prd_list span.prd_count { display:inline-block; margin-left:4px; font-size:17px; font-weight:700; vertical-align:baseline; color:#3ad195; }
.stu_prd_list .prd_list { margin:0; background:#fff; }
.stu_prd_list .prd_item { display:-webkit-box; display:-webkit-flex; display:flex; position:relative; border-top:1px solid #e5e5e5; padding:14px 10px 16px 15px; }
.stu_prd_list .like { position:absolute; top:16px; left:73px; width:28px; height:28px; background-position:-112px 0; background-size:224px; z-index:2; }
.stu_prd_list .like.active { background-position:-84px 0; }
.stu_prd_list a.prd { -webkit-box-flex:1; -webkit-flex-grow:1; flex-grow:1; position:relative; }
.stu_prd_list a.lock-on { pointer-events:none; }
.stu_prd_list a.lock-on:after { content:""; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255,255,255,.75); }
.stu_prd_list .thumb { float:left; position:relative; width:88px; height:88px; margin-right:12px; -webkit-border-radius:3px; border-radius:3px; overflow:hidden; }
.stu_prd_list .thumb:before { content:""; position:absolute; top:0; left:0; right:0; height:30%; background-image:linear-gradient(to bottom, black, rgba(0,0,0,0)); opacity:.2; z-index:1; }
.stu_prd_list .band { position:absolute; display:inline-block; bottom:0; right:0; padding:2px 6px; -webkit-border-top-left-radius:3px; border-top-left-radius:3px; font-size:14px; font-weight:400; color:#fff; }
.stu_prd_list .cpn { margin-top:-2px; font-size:13px; font-weight:400; color:#497eb7; }
.stu_prd_list .duration { color:#8f8f8f; }
.stu_prd_list .duration:before { content:""; display:inline-block; height:12px; margin:0 6px 0 4px; border-left:1px solid #ddd; vertical-align:-1px; }
.stu_prd_list .name { display:-webkit-box; -webkit-min-height:20px; min-height:20px; -webkit-max-height:35.2px; max-height:35.2px; font-size:14px; font-weight:500; line-height:18px; color:#222; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; }
.stu_prd_list .tag { display:-webkit-box; -webkit-max-height:17.6px; max-height:17.6px; font-size:13px; font-weight:300; color:#8f8f8f; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; -webkit-box-orient:vertical; }
.stu_prd_list .score { display:inline-block; position:absolute; left:100px; bottom:-2px; font-size:14px; font-weight:400; line-height:18px; color:#222; }
.stu_prd_list .score:before { content:""; display:inline-block; width:14px; height:14px; margin-right:2px; vertical-align:-1.5px; background-position:0 -119.66px; background-size:213.66px; }
.stu_prd_list .score.new:before { content:""; display:inline-block; width:15.4px; height:14px; margin-right:2px; vertical-align:-1.5px; background-position:-181.3px -154px; background-size:224px; }
.stu_prd_list .ico_star_bg { display:none; }
.stu_prd_list .review { color:#8f8f8f; }
.stu_prd_list .review:before { content:""; display:inline-block; width:14px; height:14px; margin:0 4px 0 8px; vertical-align:-2.3px; background-position:-182px -140px; background-size:224px; }
.stu_prd_list .price { display:inline-block; position:absolute; right:0; bottom:-2px; font-size:14px; font-weight:500; line-height:18px; color:#222; }
.stu_prd_list .price span { margin-left:2px; font-size:13px; font-weight:400; color:#8f8f8f; }



/* scroll top */
.stu_top_wrap { display:none; position:relative; height:50px; border-top:1px solid #e5e5e5; background:#fbfbfb; text-align:center; }
.stu_top p { line-height:50px; }
.stu_top p:before { content:""; display:inline-block; position:relative; bottom:1px; width:16.8px; height:18px; margin-right:4px; vertical-align:middle; background-position:-57.6px -123px; background-size:192px; opacity:.8; }















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    태블릿 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:620px){

/* 공통 */
h2.stu_title { font-size:22px; line-height:30px; }
h3.stu_title { font-size:19px; line-height:28px; }



/* 배너영역 */
.stu_top_banner .popover-wrap li { width:25%; }



/* 달력 */
    /* 달력(팝업) 헤더 */
.daterangepicker.action .titArea { padding:0; height:auto; border:none; }
.daterangepicker.action a.stu_close, .daterangepicker.action .dayOfWeek { display:none; }

    /* 달력(팝업) */
.daterangepicker.action { position:absolute; top:215px! important; right:auto! important; left:50%! important; bottom:auto; -webkit-max-width:560px; max-width:560px; -webkit-transform:translateX(-50%); transform:translateX(-50%); -webkit-border-radius:0; border-radius:0; border-top:2px solid #3ad195; box-shadow:0 3px 7px rgba(0,0,0,.2); }
.daterangepicker.action .stu_inner_wrap { min-width:560px; }
.daterangepicker.action .calendar-wrap { height:auto; padding:50px 20px 0; overflow:hidden; }
.daterangepicker.action .calendar-wrap:after { display:none; }
.daterangepicker.action .drp-calendar { width:260px; }
.daterangepicker.action.ltr .drp-calendar.left .calendar-table, .daterangepicker.action .drp-calendar.right .calendar-table { padding:0 10px; }
.daterangepicker.action table { width:100%; }
.daterangepicker.action thead tr:last-child { display:table-row; }
.daterangepicker.action thead tr:last-child th { border:1px; font-weight:300; }
.daterangepicker.action th, .daterangepicker.action td { height:34.4px; font-size:12px; }

    /* 달력(팝업) 버튼 */
.daterangepicker.action .drp-buttons { padding:0 0 20px; border:none; }
.daterangepicker.action .drp-selected { display:none; }
.daterangepicker.action .cancelBtn { top:14px; right:24px; font-size:0; line-height:0; }
.daterangepicker.action .cancelBtn:before { width:34px; height:34px; margin:0; background-position:0 -34px; background-size:272px; }
.daterangepicker.action .applyBtn { display:inline-block; position:relative; right:auto; left:auto; width:140px; height:36px; padding:0; border:none; -webkit-border-radius:2px; border-radius:2px; background:#3ad195; font-size:15px; line-height:34px; color:#fff; }
.daterangepicker.action .applyBtn:hover { background:#37c68d; }
.daterangepicker.action .applyBtn:before { display:none; }



/* 필터 */
    /* 상품 필터 */
.action { position:initial; top:auto; left:auto; right:auto; bottom:auto; }
.prd_filter .filter-header, .prd_filter .filter-footer { display:none; }
.prd_filter .stu_inner_wrap { float:left; position:initial; width:30%; -webkit-min-width:auto; min-width:auto; -webkit-max-width:220px; max-width:220px; }
.prd_filter .btn_prd_filter { display:none; }
.prd_filter .filter-container { display:block; padding:60px 0 0 20px; }
.prd_filter .filter-section:first-child { position:absolute; right:20px; -webkit-transform:translateY(-36px); transform:translateY(-36px); padding:0; z-index:1; }
.prd_filter .filter-section:first-child .stu_title { display:none; }
.prd_filter .filter-wrap.sortBy { clear:left; width:auto; -webkit-box-shadow:none; box-shadow:none; }
.prd_filter .filter-list.table { float:none; display:inline-block; width:auto; height:auto; margin:0 0 0 6px; -webkit-box-shadow:none; box-shadow:none; font-size:14px; line-height:30px; }
.prd_filter .filter-list.table.on { background:none; color:#3ad195; -webkit-box-shadow:none; box-shadow:none; }
.prd_filter .filter-list.table .filter-item:before { content:""; display:inline-block;  width:3px; height:3px; margin-right:6px; vertical-align:middle; -webkit-border-radius:1.5px; border-radius:1.5px; background:#e5e5e5; }
.prd_filter .filter-list.table:first-child .filter-item:before { display:none; }
.prd_filter .filter-list.round { margin:4px 4px 4px 0; }
.prd_filter .filter-list.round .filter-item { padding:3px 10px 5px; }



    /* 도시 필터 */
.spot_filter { padding-bottom:8px; }
.spot_filter span.spot_count { top:4px; right:-28px; }
.spot_filter .swiper-container { float:left; margin-left:18px; padding-bottom:0; -webkit-width:calc(100% - 110px); width:calc(100% - 110px); height:100px; }
.spot_filter .swiper-wrapper { flex-flow:row wrap; -webkit-transform:translate3d(0,0,0)! important; transform:translate3d(0,0,0)! important; }
.spot_filter li { width:13%; margin:0 .75% 14px; }
.spot_filter li:nth-child(7n+1) { margin-left:0; }
.spot_filter li:last-child, .spot_filter li:nth-child(7n) { margin-right:0; }
.spot_filter .img-wrap { padding-top:70%; -webkit-border-radius:3px; border-radius:3px; }
.spot_filter a.stu_reset { display:inline-block; margin-right:20px; line-height:26px; }
.spot_filter a.stu_more, .spot_filter .swiper-container-horizontal > .swiper-scrollbar { display:none; }
.spot_filter .btn_spot_toggle { float:left; display:block; padding:0 22px; width:92px; height:56px; }
.spot_filter .btn_spot_toggle button { position:relative; width:100%; padding-top:100%; -webkit-border-radius:50%; border-radius:50%; -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); background:#fff; }
.spot_filter .btn_spot_toggle button:before, .spot_filter .btn_spot_toggle button.on:before { content:""; position:absolute; top:16px; left:4px; width:40px; height:20px; background-position:-120px -100px; background-size:320px; }
.spot_filter .btn_spot_toggle button.on:before { top:14px; background-position:-120px -80px; }



/* 상품 리스트 - 1단 large*/
.stu_prd_list span.prd_count { font-size:19px; }
.stu_prd_list a.stu_reset { display:none; }
.stu_prd_list .stu_inner_wrap { float:left; -webkit-min-width:auto; min-width:auto; padding:0 20px; }
.stu_prd_list .titArea { padding:0; }
.stu_prd_list .prd_item { margin:0 0 14px; padding:0; border:none; overflow:hidden; }
.stu_prd_list a.prd:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); z-index:1; }
.stu_prd_list a.prd.lock-on:before { -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.08); box-shadow:inset 0 0 0 1px rgba(0,0,0,.08); }
.stu_prd_list .thumb { width:160px; height:120px; -webkit-border-radius:0; border-radius:0; }
.stu_prd_list .like { top:5px; right:5px; left:auto; background-position:-56px 0; opacity:.3; }
.stu_prd_list .like.active { opacity:1; }
.stu_prd_list .prd_info { padding:10px 10px 0 0; }
.stu_prd_list .cpn { margin:0 0 2px; }
.stu_prd_list .name { -webkit-max-height:40px; max-height:40px; font-size:15px; line-height:20px; }
.stu_prd_list .score { left:172px; bottom:6px; }
.stu_prd_list .price { right:12px; bottom:6px; font-size:15px; }



/* 상품 리스트 - 3단 */
/*.stu_prd_list span.prd_count { font-size:19px; }
.stu_prd_list a.stu_reset { display:none; }
.stu_prd_list .prd_list { padding:0 20px; }
.stu_prd_list .prd_item { float:left; width:31%; margin:0 1.5% 35px; padding:0; border:none; -webkit-border-radius:2px; border-radius:2px; overflow:hidden; }
.stu_prd_list .prd_item:nth-child(3n+1) { margin-left:0; }
.stu_prd_list .prd_item:nth-child(3n) { margin-right:0; }
.stu_prd_list a.prd:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); z-index:1; }
.stu_prd_list a.prd.lock-on:before { -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.08); box-shadow:inset 0 0 0 1px rgba(0,0,0,.08); }
.stu_prd_list .thumb { width:100%; height:0; padding-top:60%; margin:0; -webkit-border-radius:0; border-radius:0; }
.stu_prd_list .thumb img { width:100%; height:auto; }
.stu_prd_list .like { top:5px; right:5px; left:auto; z-index:2; }
.stu_prd_list .prd_info { float:left; height:118px; padding:8px 12px; }
.stu_prd_list .cpn { margin-bottom:2px; }
.stu_prd_list .name { margin-bottom:2px; }
.stu_prd_list .tag { margin-bottom:4px; }
.stu_prd_list .score { left:12px; bottom:8px; }
.stu_prd_list .price { float:right; right:12px; bottom:8px; }
.stu_prd_list .price span { display:none; }*/



}















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    PC 웹 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:1025px){

/* 공통 */
p { font-size:18px; }
section { margin-top:20px; padding:30px 0 0; }
section:last-child { padding-bottom:60px; }
.titArea { padding:0;}
h2.stu_title { font-size:26px; line-height:32px; text-align:left; }
h3.stu_title { font-size:22px; line-height:30px; }
p.stu_more { font-size:15px; }
footer { padding:0 2%; }



/* 헤더영역 */
#temp_header { height:55.2px; line-height:53.2px; }
#temp_header:before { content:"height:55.2px"; }



/* 배너영역*/
.stu_top_banner { margin:55.2px 0 0; }
.stu_top_banner .stu_bg { -webkit-min-height:310px; min-height:310px; }
.stu_top_banner .ico_search { top:20px; right:auto; left:50%; margin-left:516px; }
.stu_top_banner .titArea { padding:100px 0 0; }
.stu_top_banner .loc { margin-bottom:6px; font-size:16px; }
.stu_top_banner .current-city { font-size:36px; }



/* 달력 */
    /* 핸들러(input) */
.stu_top_banner .stu_schedule input { width:160px; font-size:16px; }

    /* 달력(팝업) */
.daterangepicker.action { top:285px! important; }



/* 필터 */
    /* 상품 필터 */
.prd_filter { display:block; position:relative; left:0; right:0; width:1100px; margin:0 auto; background:none; z-index:1; }
.prd_filter .stu_inner_wrap { -webkit-max-width:230px; max-width:230px; }
.prd_filter .filter-container { padding:91.6px 0 0; }
.prd_filter .filter-section:first-child { right:0; }



/* 도시 필터 */
.spot_filter .filter-header { padding:0; }
.spot_filter span.spot_count { right:-30px; }
.spot_filter .swiper-container { margin-left:0; -webkit-width:calc(100% - 70px); width:calc(100% - 70px); height:118px; }
.spot_filter li { margin:0 .625% 8px; width:10%; }
.spot_filter li:nth-child(7n+1) { margin-left:.625%; }
.spot_filter li:nth-child(9n+1) { margin-left:0; }
.spot_filter li:nth-child(7n) { margin-right:.625%; }
.spot_filter li:nth-child(9n) { margin-right:0; }
.spot_filter .txt-wrap { height:38px; }
.spot_filter p { font-size:14px; line-height:16px; }
.spot_filter a.stu_reset { top:5px; margin-right:0; }
.spot_filter .btn_spot_toggle { padding:0 0 0 22px; width:70px; }



/* 상품 리스트 - 3단 */
.stu_prd_list .stu_inner_wrap { position:relative; -webkit-max-width:830px; max-width:830px; margin-left:40px; padding:0; }
.stu_prd_list span.prd_count { font-size:22px; }
.stu_prd_list a.stu_reset { display:none; }
.stu_prd_list .prd_list { padding:0; }
.stu_prd_list .prd_item { float:left; width:31.8%; margin:0 1.15% 46px; padding:0; border:none; -webkit-border-radius:2px; border-radius:2px; overflow:hidden; }
.stu_prd_list .prd_item:nth-child(3n+1) { margin-left:0; }
.stu_prd_list .prd_item:nth-child(3n) { margin-right:0; }
.stu_prd_list a.prd:before { content:""; position:absolute; top:0; left:0; width:100%; height:100%; -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); z-index:1; }
.stu_prd_list a.prd.lock-on:before { -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.08); box-shadow:inset 0 0 0 1px rgba(0,0,0,.08); }
.stu_prd_list .thumb { width:100%; height:0; padding-top:60%; margin:0; -webkit-border-radius:0; border-radius:0; }
.stu_prd_list .thumb img { width:100%; height:auto; }
.stu_prd_list .like { background-position:-112px 0; opacity:1; }
.stu_prd_list .prd_info { float:left; width:100%; height:118px; padding:8px 12px; }
.stu_prd_list .name { margin-bottom:2px; -webkit-max-height:36.2px; max-height:36.2px; -webkit-min-height:22px; min-height:22px; font-size:15px; line-height:19px; }
.stu_prd_list .tag { margin-bottom:4px; }
.stu_prd_list .score { left:12px; bottom:8px; }
.stu_prd_list .price { float:right; right:12px; bottom:8px; }



/* 상품 리스트 - 4단 */
/*.stu_prd_list span.prd_count { font-size:22px; }
.stu_prd_list .prd_list { padding:0; }
.stu_prd_list .prd_item { width:23.5%; margin:0 1% 46px; }
.stu_prd_list .prd_item:nth-child(3n+1) { margin-left:1%; }
.stu_prd_list .prd_item:nth-child(4n+1) { margin-left:0; }
.stu_prd_list .prd_item:nth-child(3n) { margin-right:1%; }
.stu_prd_list .prd_item:nth-child(4n) { margin-right:0; }
.stu_prd_list .name { -webkit-max-height:36.2px; max-height:36.2px; -webkit-min-height:22px; min-height:22px; font-size:15px; line-height:19px; }
.stu_prd_list .price span { display:inline-block; }*/



/* scroll top */
.stu_top_wrap { position:fixed; bottom:50px; left:50%; width:55px; height:55px; margin-left:570px; -webkit-border-radius:2px; border-radius:2px; border:none; background:#8f8f8f; z-index:1; }
.stu_top_wrap:hover { background:#4a4a4a; }
.stu_top p { font-size:0; line-height:56px; }
.stu_top p:before { display:block; bottom:0; width:35px; height:37.5px; margin:9px 0 0 10px; background-position:-155px -256.25px; background-size:400px; opacity:1; }


}
