/* ========================================================= */
/*                     [ MOBILE (All) ]                      */
/* ========================================================= */

/* All */
.service li:after, .swiper-button-prev, .swiper-button-next { background-image:url(../images/common/jn-icon.png); background-repeat:no-repeat; vertical-align:middle; }
.swiper-button-prev, .swiper-button-next { display:none; }



/* Header */
header .gnb_container button.back { display:none; }



/* Visual */
.main_visual { margin-top:50px; height:380px; background:#ebebeb; overflow:hidden; }
.main_visual .mobile { position:relative; height:100%; }
.main_visual .pc { display:none; }



/* Service */
.service li { display:table; position:relative; width:100%; border-bottom:1px solid #e5e5e5; cursor:pointer; }
.service li:last-child { border:none; }
.service li:after, .service li.active:after { content:""; position:absolute; right:0; width:24px; background-size:208px; }
.service li:after { top:30px; height:20px; background-position:-184px -26px; }
.service li.active:after { top:37px; height:12px; background-position:-184px -46px; }
.service li.active .desc { display:block; }
.service li .desc { display:none; padding:10px 0 16px; font-size:14px; font-weight:400; line-height:24px; color:#4a4a4a; cursor:default; }
.service dl { height:80px; padding:14px 0; line-height:0; }
.service dt { display:table-cell; }
.service dt i { display:inline-block; position:relative; width:52px; height:52px; overflow:hidden; }
.service dd { display:table-cell; padding-left:12px; font-size:16px; font-weight:400; vertical-align:middle; color:#4a4a4a; line-height:22px; }
.service dd span { display:block; font-size:14px; font-weight:300; color:#8f8f8f; }



/* Works */
.works .thumb { padding-top:68%; }



/* Blog */
.blog .item { width:150px; margin:0 8px 20px; }
.blog .item:first-child { margin-left:20px; }
.blog .item:last-child { margin-right:20px; }
.blog .item a:before { display:none; }
.blog .thumb { padding-top:100%; -webkit-border-radius:0 0 2px 2px; border-radius:0 0 2px 2px; background:#e5e5e5; }
.blog .info { padding:8px 0; }
.blog .date { color:#8f8f8f; }









/* ========================================================= */
/*                         [ TABLET ]                        */
/* ========================================================= */

@media (min-width:600px){

/* All */
.pd-b-10{ padding-bottom:0; }


/* Visual */
.main_visual { margin-top:0; height:306px; }
.main_visual .mobile { display:none; }
.main_visual .pc { display:block; position:relative; height:100%; }



/* Service */
.service { background:#f5f5f5; }
.service li { float:left; width:33.33%; padding:0 10px; border:none; cursor:default; }
.service li:first-child { padding-left:0; }
.service li:last-child { padding-right:0; }
.service li:after { display:none; }
.service li .desc { display:block; padding:10px 0 24px; }
.service dl { height:auto; text-align:center; }
.service dt { display:block; }
.service dt i { width:60px; height:60px; margin-bottom:8px; }
.service dd { display:inline-block; padding:0; }



/* Works */
.works .inner_wrap { padding:0 12px; }
.works .title { padding-left:8px; }



/* Blog */
.blog .item { width:184px; }







}











/* ========================================================= */
/*                           [ PC ]                          */
/* ========================================================= */

@media (min-width:1025px){

/* All */
.swiper-button-prev, .swiper-button-next { display:block; width:32px; height:41.6px; background-size:332.8px; }
.swiper-button-prev { left:-54px; background-position:-166.4px -41.6px; }
.swiper-button-next { right:-54px; background-position:-198.4px -41.6px; }



/* Visual */
.main_visual { height:480px; }



/* Service */
.service li { padding:0 20px; }
.service li .desc { font-size:15px; line-height:28px; }
.service dt i { width:74px; height:74px; }
.service dd { font-size:18px; }
.service dd span { font-size:16px; }



/* Works */
.works .inner_wrap, .works .title { padding:0; }
.works .thumb { padding-top:86%; }
.works .info { position:absolute; left:0; bottom:-100%; width:100%; height:100%; padding:54px 16px 0; background:rgba(20,180,202,.8); text-align:center; transition:bottom .2s ease-in-out; }
.works .info:after { content:"View"; display:inline-block; position:absolute; bottom:40px; left:50%; transform:translateX(-50%); width:80px; height:26px; -webkit-border-radius:13px; border-radius:13px; background:#fff; font-size:16px; font-weight:400; line-height:26px; color:#00b5e2; }
.works .item:hover .info { bottom:0; }
.works .name, .works .category { color:#fff; }



/* Blog */
.blog .item { width:18.8%; margin:0 .75%; }
.blog .item:first-child { margin-left:0; }
.blog .item:last-child { margin-right:0; }



}
