/* ========================================================= */
/* --------------------------------------------------------- */
/*                       모바일 (공통)                        */
/* --------------------------------------------------------- */
/* ========================================================= */

/* 공통 */



/* 헤더영역 */
header { margin-bottom:25px; }
header h1 { margin:21px 0 25px; padding-left:30px; text-align:left; }

















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    태블릿 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:620px){


/* 헤더영역 */
header { position:relative; -webkit-max-width:960px; max-width:960px; height:270px; margin:0 auto; }
header h1 { position:absolute; top:107px; left:50px; margin:0; padding-left:0; text-align:center; }

}












/* ========================================================= */
/* --------------------------------------------------------- */
/*                    PC 웹 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:1024px){


/* 공통 */


/* 헤더영역 */
header h1 { top:105px; left:0px; }



}
