/* ========================================================= */
/*                     [ MOBILE (All) ]                      */
/* ========================================================= */

/* Header */
header .gnb_container .logo { display:none; }
header .gnb_container:after { content:"WORKS"; }



/* works */
.works .inner_wrap { padding:0; }
.works .title { margin-bottom:4px; padding-left:20px; }
.works .cat_topBar { height:56px; padding:12px 0; background:rgba(255,255,255,.95); }
/* cat_topBar의 높이값 + item-container의 paddin-top값 */
.works .cat_topBar.fixedTop + .item-container { padding-top:76px; }
.works .category_group li { display:-webkit-box; display:-webkit-flex; display:flex; position:relative; width:auto; margin:0 3px; background:transparent; }
.works .category_group li:first-child { margin-left:20px; }
.works .category_group li:last-child { margin-right:20px; }
.works .category_group li button { height:32px; padding:0 14px; -webkit-border-radius:16px; border-radius:16px; background:#f5f5f5; font-size:13px; font-weight:400; line-height:32px; color:#4a4a4a; }
.works .category_group li.active button { background:#6c6c6c; color:#fff; }
.works .item-container { padding:20px; }
.works .thumb { padding-top:68%; }












/* ========================================================= */
/*                         [ TABLET ]                        */
/* ========================================================= */

@media (min-width:600px){

/* Header */
header .gnb_container .logo { display:inline-block; }



/* works */
.works .inner_wrap { padding:0 12px; }
.works .title { padding-left:8px; }
.works .cat_topBar.fixedTop + .item-container { padding-top:20px; }
.works .category_group { -webkit-transform:translate3d(0,0,0)! important; transform:translate3d(0,0,0)! important; }
.works .category_group li { margin:0 4px;}
.works .category_group li:first-child { margin-left:8px; }
.works .category_group li:last-child { margin-right:0; }
.works .category_group li button { height:34px; -webkit-border-radius:18px; border-radius:18px; font-size:14px; line-height:34px; }
.works .item-container { padding:20px 0; }



}












/* ========================================================= */
/*                           [ PC ]                          */
/* ========================================================= */

@media (min-width:1025px){

/* works */
.works .inner_wrap, .works .title { padding:0; }
.works .category_group li { margin:0 5px; }
.works .category_group li:first-child { margin-left:0; }
.works .category_group li button { height:36px; padding:0 18px; font-size:15px; line-height:36px; }
.works .thumb { padding-top:86%; }
.works .info { position:absolute; left:0; bottom:-100%; width:100%; height:100%; padding:54px 16px 0; background:rgba(20,180,202,.8); text-align:center; transition:bottom .2s ease-in-out; }
.works .info:after { content:"View"; display:inline-block; position:absolute; bottom:40px; left:50%; transform:translateX(-50%); width:80px; height:26px; -webkit-border-radius:13px; border-radius:13px; background:#fff; font-size:16px; font-weight:400; line-height:26px; color:#00b5e2; }
.works .item:hover .info { bottom:0; }
.works .name, .works .category { color:#fff; }



}
